.popup__close-button {
  position: absolute;
  background-image: url(../../../images/closeicon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto; 
  right: -8px;
  top: -24px;
  width: 32px;
  height: 32px;
  border: none;
  transition: opacity .3s ease;
  cursor: pointer;
  padding: 0;
}
.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .popup__close-button {
    position: absolute;
    background-image: url(../../../images/closeiconsmall.svg);
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    top:-16px;
    right: 40px;
    background-size: auto;
  }
}