.card__like-active {
    background-image: url(../../../images/like_active.svg);
    padding: 0;
    border: none;
    height: 19px;
    width: 22px;
    align-self: center;
    transition: opacity .3s ease;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    cursor: pointer;
  
}