.header {
  margin: 45px auto 0;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 719px) {
  .header {
    margin: 28px 0 42px;
  }
}