.profile__add-button {
  padding: 0;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000000;
  width: 150px;
  height: 50px;
  align-self: center;
  transition: opacity .3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}
