.profile__description {
  max-width: 336px;
  color: #FFFFFF;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  
}

@media screen and (max-width: 1023px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
  }
}