.card__like {
  background-image: url(../../../images/like.svg);
  padding: 0;
  border: none;
  background-color:rgba(255, 255, 255, 0);
  opacity: 1;
  height: 19px;
  width: 22px;
  align-self: center;
  transition: opacity .3s ease;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.card__like:hover {
  opacity: .5;
}
