.card__like {
  background-image: url(../../../images/like.svg);
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  height: 19px;
  width: 22px;
  align-self: center;
  transition: opacity .3s ease;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}


.card__like:hover {
  opacity: .5;
}