.form__input {
  width: 358px;
  margin: 13px 0 auto ;
  text-align:left ;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
}

.form__input::placeholder {
  color: #000000;
}
@media screen and (max-width: 1023px) {
  .form__input {
    width: 238px;
    
  }
}
